<head>
  <title>Leila Hofer</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css"/>-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
  	body {
      text-align: center;
      background: url("http://www.venettewaste.com/images/blog/web_fashion_academy/Trend/AI-2014-15/Neat_Graphics/Venette-Waste_Trend-F-W-14-15_Neat-Graphics_Walt-Disney-Concert-Hall-frank-ghery.jpg");
      background-size: cover;
      background-position: center;
      font-family: 'Droid Sans Mono';
      margin: 40px 80px 0px 80px;

    }
    div {
      margin: 20px;
      background: rgba(255, 255, 255, 0.5);
      color: black;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px
      text-align: center;
    }
    small {
      font-size: 14px;
      text-align: justify;
    }
    img {
      margin: 40px 0px 0px 0px;
      border-radius: 300px;
    }
    .title {
      font-size: 30px;
    }
    ul {
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
    }
    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
    a {
      color: gray;
    }
    @media (max-width: 500px) {
      img {
        width: 100;
        height: 110;
      }     
      body {
        margin: 0px;
      }   
    }
</style>
</head>
<body> 
<header>
    <ul>
      <a class="btn btn-default btn-sm" href="/" role="button">Home</a>
      <a href="#" class="btn btn-default btn-sm disabled" role="button">About</a>
      <a class="btn btn-default btn-sm" href="/contact" role="button">Contact</a>
    </ul>
</header>

    <div>
        <p class= "title"> about me<br />
          <img src="http://i.imgur.com/lkTcZPl.jpg?1" title="source: imgur.com" width=200 height=230 />
        </p>
    </div>

    <div>
        <p>the facts?<br />
            <small>I graduated in 2015 from Harvard University with a BA in Economics and and a minor in History</small>
        </p>
    </div>

    <div>
        <p>why code?<br />
            <small>I am interested in coding both because it's fun and also because I believe that tech has the ability to bring individuals, skills, and knowlege from various diciplines together to create something completely new.</small>
        </p>
    </div>

    <div>
        <p>current interests?<br />
            <small>I am currently excited by new opportunities emerging in the fields of environemental and public ecomomics to use tech (apps, games, and programs) to optomize, customize, and emphasize important health and environmental decision making for all levels of society.</small>
        </p>
    </div>

    <div>
        <p>something about me?<br />
            <small>Beyond coding I like to ballroom dance ... all the time. I also used to play the trumpet fairly seriously (not so much anymore unfortunately) and love jazz music!</small>
        </p>
    </div>
</body>
