<head>
  <title>Leila Hofer</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css"/>-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
  	body {
      text-align: center;
      background: url("http://www.venettewaste.com/images/blog/web_fashion_academy/Trend/AI-2014-15/Neat_Graphics/Venette-Waste_Trend-F-W-14-15_Neat-Graphics_Walt-Disney-Concert-Hall-frank-ghery.jpg");
      background-size: cover;
      background-position: center;
      font-family: 'Droid Sans Mono';
      margin: 40px 80px 0px 80px;

    }
    div {
      margin: 20px;
      background: rgba(255, 255, 255, 0.5);
      color: black;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
      margin: 10px 0 20px 0;
      border-radius: 10px;
    }
    input[type="submit"] {
      background: rgba(0, 0, 0, .8);
      color: white;
    }
    ul {
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
    }
    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
    a {
      color: white;
    }
    @media (max-width: 500px) {
      
      input {
      font-size: 14px;
      }
      
      body {
        margin: 0px;
      }   
    }
    .contact {
      padding: 50;
    }
</style>
</head>
<body>
<header>
    <ul>
      <a class="btn btn-default btn-sm" href="/" role="button">Home</a>
      <a class="btn btn-default btn-sm" href="/about" role="button">About</a>
      <a href="#" class="btn btn-default btn-sm disabled" role="button">Contact</a>
    </ul>
</header>

<div> want to get in touch?<br />
  <input type="email" placeholder="Your email">
  <input type="submit"><br />

  <p>
      <a class="btn btn-default btn-sm" href="https://www.facebook.com/leila.hofer" role="button">Facebook</a>
      <a class="btn btn-default btn-sm" href="mailto:lkhofer@gmail.com" role="button">Email Me</a>
      <a href="#" class="btn btn-default btn-sm disabled" role="button">Linkedin</a>
      <a href="#" class="btn btn-default btn-sm disabled" role="button">Git Hub</a>
  </p>
</div>



</body>

