<p>If you have any questions about our activities, feel free to contact us and leave a message!</p>
    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
        <div class="row">
            <label for="name">Your name:</label><br />
            <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
            <label for="email">Your email:</label><br />
            <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
            <label for="message">Your message:</label><br />
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
        </div>
        <input id="submit_button" type="submit" value="Send email" />
    </form>     
    
    <div class="images">
        <div class="span3"><img src="http://ucd.hwstatic.com/propertyimages/8/81860/9.jpg"></div>
        <div class="span3"><img src="http://gpokcid.co.za/wp-content/uploads/2014/10/1-11.jpg"></div>
        <div class="span3"> <img src="http://www.capetownmagazine.com//media_lib/r2/d986903a8e86b05f0be41753cf04883d.img.jpg"></div>
        <div class="span3"><img src="https://www.travelground.com/blog/wp-content/uploads/2014/06/once-in-cape-town-logo.jpg"></div>
    </div>