<div class="hero-unit">
        <h2 class = "header_body">Only the best at Once when you're in Cape Town</h2>
        <small class = "text_body">We are dedicated to making sure you know what goes on when at all times</small>
</div>
<div class="hero-unit">
	<img class = "wes" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/391312_496370200401622_2025151652_n.jpg?oh=30aa7b73435fd09487be5766ac8aec6e&oe=55E976F2&__gda__=1441517347_117dbe7259f20b622efa8c2eb92ec9ec">
	and don't forget to say <small class = "text_body"> howzit Howzit HOWZIT!</small>
</div>
