<h1>Phone Book Sinatra App</h1>
<h3> Directions </h3>
<ol>
	<li> type "/contact" in the browser after the root url to view the contact list </li>
	<li> type "/contact/name" in the borwser after root url to view that person's number where "name" is someone's name in the contact list</li>
</ol>